.avatarCard{
    padding: 20px;
    text-align: center;
}

.avatarCard a, .avatarCard a:hover {
    color: rgba(1, 111, 255, 0.938);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    text-decoration: none;
}

.avatarCard p {
    font-size: 1.5rem;
}